@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);

#ext_menu-2 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-2.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-2 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-2 .mbr-navbar__hamburger {
  color: #ffffff;
}
#header1-19 H1 {
  text-align: center;
}
#features1-19 .mbr-section__col .mbr-header__text {
  font-family: 'Raleway', sans-serif;
}
#msg-box2-22 .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-22 .mbr-article {
  color: #252525;
}
#contacts1-14 P {
  text-align: left;
}
#footer1-15 P {
  text-align: center;
}
#ext_menu-2 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-2.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-2 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-2 .mbr-navbar__hamburger {
  color: #ffffff;
}
#msg-box5-6 .mbr-header__text {
  color: #ffffff;
}
#msg-box5-6 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-6 .mbr-article {
  color: #ffffff;
}
#contacts1-14 P {
  text-align: left;
}
#footer1-15 P {
  text-align: center;
}
#menu-18 .mbr-brand__name {
  font-size: 16px;
}
#menu-18.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-18 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-2 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-2.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-2 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-2 .mbr-navbar__hamburger {
  color: #ffffff;
}
#contacts1-14 P {
  text-align: left;
}
#footer1-15 P {
  text-align: center;
}
#ext_menu-2 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-2.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-2 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-2 .mbr-navbar__hamburger {
  color: #ffffff;
}
#contacts1-14 P {
  text-align: left;
}
#footer1-15 P {
  text-align: center;
}
#ext_menu-2 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-2.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-2 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-2 .mbr-navbar__hamburger {
  color: #ffffff;
}
#msg-box3-36 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-36 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#contacts1-14 P {
  text-align: left;
}
#footer1-15 P {
  text-align: center;
}
#ext_menu-2 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-2.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-2 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-2 .mbr-navbar__hamburger {
  color: #ffffff;
}
#header4-38 P {
  text-align: center;
  font-size: 20px;
}
#features1-39 P {
  color: #ffffff;
}
#contacts1-14 P {
  text-align: left;
}
#footer1-15 P {
  text-align: center;
}

#ext_menu-2 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-2.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-2 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-2 .mbr-navbar__hamburger {
  color: #ffffff;
}
#header3-51 H3 {
  text-align: center;
}
#header3-51 P {
  text-align: center;
}
#msg-box3-48 .mbr-header .mbr-header__text {
  text-align: left;
  font-family: 'Roboto', sans-serif;
}
#msg-box3-48 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#contacts1-14 P {
  text-align: left;
}
#footer1-15 P {
  text-align: center;
}

#ext_menu-52 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-52.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-52 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-52 .mbr-navbar__hamburger {
  color: #ffffff;
}
#header3-53 H3 {
  text-align: center;
}
#header3-53 P {
  text-align: center;
}
#msg-box3-54 .mbr-header .mbr-header__text {
  text-align: left;
  font-family: 'Roboto', sans-serif;
}
#msg-box3-54 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#form1-57 .mbr-header__text {
  text-align: left;
}
#contacts1-55 P {
  text-align: left;
}
#footer1-56 P {
  text-align: center;
}

#ext_menu-58 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-58.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-58 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-58 .mbr-navbar__hamburger {
  color: #ffffff;
}
#header3-59 H3 {
  text-align: center;
}
#header3-59 P {
  text-align: center;
}
#msg-box3-60 .mbr-header .mbr-header__text {
  text-align: left;
  font-family: 'Roboto', sans-serif;
}
#msg-box3-60 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#form1-61 .mbr-header__text {
  text-align: left;
}
#contacts1-62 P {
  text-align: left;
}
#footer1-63 P {
  text-align: center;
}
#ext_menu-58 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-58.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-58 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-58 .mbr-navbar__hamburger {
  color: #ffffff;
}
#contacts1-62 P {
  text-align: left;
}
#footer1-63 P {
  text-align: center;
}
